html, body {
  height: 100%; }

strong {
  font-weight: 900; }

body {
  background-image: url("bg-linedpaper.png"); }

.embed-link {
  display: none;
  position: absolute;
  right: 0px;
  padding: 5px; }

.embed-link a {
  color: #e6e6e6; }

body:hover .embed-link.allowed {
  display: block; }

.jumbotron {
  background-image: url("bg-diagonal.png");
  text-align: center;
  border-bottom: solid 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }
  .jumbotron .container {
    background-image: url("gold-clock.png");
    background-repeat: no-repeat;
    background-position: 50% 65%;
    padding-top: 40px;
    padding-bottom: 40px; }
  .jumbotron h1 {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0; }
  .jumbotron h2 {
    color: #EEC900;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0; }
  .jumbotron h3 {
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 160%; }
    .jumbotron h3 .h3-inner {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2px 5px; }

#input-wrapper {
  margin: 20px 0;
  padding: 10px;
  background-image: url("bg-linedpaper.png");
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9); }

#input {
  border: solid 3px #088;
  padding: 15px; }
  #input h4 {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 0;
    line-height: 1.4; }
    #input h4 i {
      color: #887300; }
  #input .icon {
    text-align: center; }

#output-wrapper {
  display: none;
  background-image: url("bg-linedpaper.png");
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin-bottom: 20px; }
  #output-wrapper h4 {
    font-family: "Bitter", serif;
    font-size: 15px;
    font-weight: bold;
    color: #088;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; }

#clock {
  margin-bottom: 15px;
  border: solid 1px #088;
  padding: 15px; }

#output-clock {
  text-align: center; }
  #output-clock #right-now {
    color: #887300;
    font-size: 17px;
    margin-top: 0; }
  #output-clock #clock-now {
    font-size: 48px;
    text-transform: uppercase; }
  #output-clock #working-on {
    margin-bottom: 3px; }
  #output-clock #clock-item {
    font-size: 24px;
    margin-bottom: 15px; }
  #output-clock #clock-next-wrapper h4, #output-clock #clock-next-wrapper #clock-next {
    display: inline-block;
    font-size: 12px; }
  #output-clock #clock-next-wrapper h4 {
    color: #777777; }
  #output-clock #clock-next-wrapper #clock-next {
    padding: 5px;
    background-color: #777777;
    color: #fff; }

#dayplanner h4 {
  margin-top: 15px;
  margin-bottom: 10px; }

#output-dayplanner {
  border: solid 2px #333333;
  background-color: rgba(255, 255, 255, 0.5); }

.explanation-wrapper {
  margin-top: 15px;
  padding: 10px;
  background-image: url("bg-linedpaper.png");
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9); }

.explanation {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Bitter", serif;
  color: #887300;
  padding: 13px;
  line-height: 1.4;
  border: solid 2px #EEC900;
  text-align: justify; }
  .explanation .icon {
    text-align: center; }

.item {
  position: relative;
  background-image: url("bg-linedpaper.png");
  background-color: #fff;
  border-bottom: solid 1px #777777;
  padding: 10px; }
  .item .item-starttime-wrapper {
    position: absolute;
    left: 7px;
    top: 12px;
    width: 75px;
    z-index: 10; }
  .item .item-starttime {
    font-weight: bold;
    font-size: 12px;
    padding: 2px 4px;
    background-color: #088;
    color: #fff;
    width: 70px;
    text-align: center; }
  .item .item-details {
    margin-left: 75px;
    padding-right: 70px;
    position: relative;
    z-index: 10; }
  .item .item-name {
    display: inline;
    font-size: 20px;
    margin-right: 10px; }
  .item .item-duration {
    display: inline-block;
    color: #887300;
    font-weight: bold;
    font-size: 14px; }
  .item:last-child {
    border-bottom: 0; }
  .item#start, .item#end, .item#instruction {
    color: #333333;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px; }
  .item#start {
    background-color: #fcdc23; }
  .item#end {
    background-color: #0054a6;
    color: #fff;
    color: rgba(255, 255, 255, 0.7); }

.item-small .item-name {
  font-size: 14px; }

.explanation-icon {
  display: inline-block;
  background-color: #fcdc23;
  font-size: 14px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  line-height: 16px;
  text-align: center;
  border-radius: 9px;
  border: solid 2px transparent;
  cursor: default; }
  .explanation-icon:hover {
    color: #000;
    background-color: transparent;
    border: solid 2px #fcdc23; }

.item-explanation {
  font-family: "Bitter", serif;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 5px; }
  .item-explanation .what-is-this {
    display: inline-block;
    border: solid 2px #fcdc23;
    font-size: 14px;
    padding: 1px 2px;
    line-height: 12px;
    margin-right: 5px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    text-align: center; }

.tooltip-inner {
  text-align: left;
  padding: 10px;
  font-family: "Bitter", serif;
  font-size: 13px;
  line-height: 1.2; }

#calendar-download {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 1.2; }
  #calendar-download .btn {
    font-size: 12px;
    border-radius: 10px;
    border-width: 0;
    line-height: 1; }

#now-line {
  position: absolute;
  z-index: 5;
  border-bottom: dotted 2px rgba(255, 0, 0, 0.4);
  height: 9px;
  width: 100%;
  left: 0;
  text-align: right; }
  #now-line span {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 9px;
    padding: 3px;
    background-color: #ad0000;
    color: #fff;
    text-transform: uppercase; }

#social-media {
  display: none;
  min-height: 22.5px;
  margin-top: 15px;
  text-align: right; }

body.standalone #social-media {
  display: block; }

.footnotes {
  color: #333333;
  margin-bottom: 15px; }
  .footnotes h6 {
    font-size: 11px;
    margin-top: 0; }

.footer {
  background-color: #fff;
  color: #555555;
  font-size: 12px;
  padding: 15px;
  line-height: 1.2; }
  .footer .credits img {
    max-height: 40px;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px; }

/*# sourceMappingURL=clock.css.map */
